body{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.bodyContainer{
  display: flex;
}

.containerOne{
  order: 1;
/*   border: 1px solid black; */
  width: 40%;
  overflow: auto;
  height: 1300px;
}

.spacer{
  order: 2;
  width: 20%;
}

.containerTwo{
  order: 3;
/*   border: 1px solid black; */
  width: 40%;
  overflow: auto;
  height: 1300px;
}

.row {
  display: flex;
  text-align: center;
}

.column{
  border: 1px solid black;
  width: 50%;
  height: 100px;
}
.even{
  background-color: pink;
}

.odd{
  background-color: red;
}

#new1 {
  height: 100px;
}

#new2 {
  height: 100px;
}
