body{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.bodyContainer{
  display: flex;
}

.containerOne{
  order: 1;
/*   border: 1px solid black; */
  width: 40%;
}

.spacer{
  order: 2;
  width: 20%;
}

.containerTwo{
  order: 3;
/*   border: 1px solid black; */
  width: 40%;
}

.row{
  display: flex;
  text-align: center;

}

.column{
  border: 1px solid black;
  width: 50%;
  height: 100px;
}

.even{
  background-color: pink;
}

.odd{
  background-color: red;
}
